:root{
    --gold: 	#fff400;
    --light-shadow:	#ffce00;
    --dark-shadow:#ffb400;
}

.Spin-main-container {
    display: flex;
    flex-direction: column;
    /*justify-content: center;*/
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: "Ubuntu Sans Mono", serif;
    background: url("../assets/img/scene/spin-corner-bg.png") center;
    background-size: cover;
}

.spin-game-area {
    display: flex;
    flex-direction: column;
}

.spin-corner-top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:white;
    /*border-bottom: 1px solid rgba(255, 255, 255, 0.34);*/
    /*border-radius: 10px;*/
    margin-bottom: 5px;
    padding: 10px 2px;
    background: #0e0a0a;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.spin-corner-icons{
    width: 40px;
    height: auto;
}



.spin-balance-container{
    display: flex;
    gap:10px;
    align-items: center;
    /*border-left:1px solid rgba(255, 255, 255, 0.22);*/
    border-radius: 10px;
    padding: 2px;
    /*border-right:1px solid rgba(255, 255, 255, 0.22);*/
    font-size:1.3rem;

}

.spin-corner-balance{
    color:greenyellow;
}

.main-game-area{
    display: flex;
    flex-direction: column;
    background: rgba(14, 10, 10, 0.22);
}
.Spin-main-controls {
    display: flex;
    flex-direction: column;
    /*margin-top: 5px;*/
    background: #0e0a0a;
    border-radius: 10px;
}

.Bet-amount-area-spin {
    display: flex;
    flex-direction: column;
    color: white;
}


.background-img-bottom{
    height: 70px;
    width: auto; /* keep image’s aspect ratio */
    background-image: url("./img/controls/spin-popup.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

.bet-Amount-text{
    color: rgba(255, 255, 255, 0.45);
    text-align: center;
    margin-bottom: 10px;
    display: flex;
    justify-content: space-around;
    font-size:18px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.33);
}

.Bet-spin-area {
    display: flex;
    flex-direction: row;
}

.spin-short-bet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 8px;
    margin-bottom: 10px;
}

.bet-short-spin {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chip-image {
    flex:1;
    width: 24px;
    object-fit: contain;
}

.chip-text {
    position: absolute;
    color: #0e0a0a;
    font-weight: bold;
    font-size: 16px;
}

.spin-input-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: rgba(240, 248, 255, 0.2);
}

.plus-minus-spin {
    background: #18031f;
    padding: 10px;
    flex: 1;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.spin-bet-input {
    background: rgba(240, 248, 255, 0);
    border: none;
    outline: none;
    text-align: center;
    color:white;
    font-size:16px;

}

.controls-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
}

.controls-row {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    width: 100%;
    gap: 3px;
    margin-bottom: 4px;
}

.High-low-btn, .px-4 {
    flex: 1;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 18px;

    background: linear-gradient(
            to bottom,
            rgb(4, 77, 98) 0%,
            rgb(3, 109, 140) 25%,
            rgb(4, 77, 98) 100%
    );
    background-size: auto 200%;
    transition: background-position 0.5s;
}

.High-low-btn, .px-4 {
    background-position: top center;
}

.High-low-btn:hover, .px-4:hover {
    background-position: bottom center; /* slide down on hover */
}


.active {
    /*border:1px solid white;*/
    /*opacity: 0.2;*/
    background: linear-gradient(
            to bottom,
            rgb(196, 80, 3) 0%,
            rgb(241, 184, 57) 25%,
            rgb(178, 72, 2) 100%
    );
    background-size: auto 200%;
    transition: background-position 0.5s;
    color:black;
}

.Odd {
    background-position: top center;
}
.btn-base{
    font-weight: bold;
    font-size: 18px;
}

.Even {
    flex: 1;
    padding: 10px 0;
    border-radius: 5px;
    text-align: center;
    color: black;


    background: linear-gradient(
            to bottom,
            rgb(196, 80, 3) 0%,
            rgb(241, 184, 57) 25%,
            rgb(178, 72, 2) 100%
    );
    background-size: auto 200%;
    transition: background-position 0.5s;
}

.Even {
    background-position: top center;
}

.Odd:hover, .Even:hover {
    background-position: bottom center; /* animate downward */
}

.control-spin-btn {
    flex: 1;
    padding: 10px;
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(
            to left,
            rgb(0, 42, 255) 0%,
            rgb(16, 16, 16) 51%,
            rgb(0, 42, 255) 100%
    );
}

.control-spin-btn:hover {
    background-position: right center;
}

.popup {
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 20px 40px;
    border-radius: 16px;
    text-align: center;
    font-size: 1.5rem;
    opacity: 0;
    pointer-events: none;
    animation: popupFade 0.6s ease-in-out forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    width: 100%;
    max-width: 250px;
    background: linear-gradient(to top, #021f26 20%, rgb(0, 0, 0) 75%);
}

.pop-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:10px;
}

.three-d-text-lost{
    width:100%;
    background: linear-gradient(180deg, #fd0000, #5b0404);

}
.three-d-text-win{
    width:100%;
    background: linear-gradient(180deg, #00c6ff, #08617a);
}
.amount-won {
    font-weight: bold;
    animation: glowBreath 2s infinite ease-in-out;
}

/* fade in & out */
@keyframes popupFade {
    0% {
        transform: translate(-50%, 40%);
        opacity: 0;
    }
    50% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, 20%);
        opacity: 1;
    }
}


@keyframes glowBreath {
    0%, 100% {
        text-shadow: 0 0 5px #fff, 0 0 10px #057494, 0 0 20px #00c6ff;
        color: #fff;
    }
    50% {
        text-shadow: 0 0 20px #057798, 0 0 40px #00c6ff, 0 0 60px #00c6ff;
        color: #00ff67;
    }
}

canvas {
    width: 100%;
    max-width: 750px;
}

@media (min-width:600px){

    .chip-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .chip-text {
        position: absolute;
        color: #0e0a0a;
        font-weight: bold;
        font-size: 24px;
        text-shadow: 0 0 4px #382b0e;
    }
    .popup{
        max-width: 400px;
    }
}