:root{
    --gold: 	#fff400;
    --light-shadow:	#ffce00;
    --dark-shadow:#ffb400;
}

.Spin-main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    width: 100%;
    font-family: "Roboto", sans-serif;
    background: #0e0a0a;
}

.spin-game-area {
    display: flex;
    flex-direction: column;
}

.spin-corner-top-bar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color:white;
   margin-bottom: 5px;
    background: rgba(14, 10, 10, 0.48);
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.spin-corner-icons {
    width: 30px;              /* increase container size */
    height: 30px;             /* add equal height */
    border-radius: 50%;
    background: #0e0a0a;
    text-align: center;
    padding: 10px;
    font-size: 30px;          /* make the ⚙ bigger */
    display: flex;            /* center perfectly */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    /*border-radius: 20px;*/
    /*font-weight: bold;*/
    border:1px solid rgba(255, 255, 255, 0.35);

}
.spin-corner-icons-close {
    width: 30px;              /* increase container size */
    height: 30px;             /* add equal height */
    /*border-radius: 20px;*/
    border-radius: 50%;
    background: #0e0a0a;
    text-align: center;
    padding: 10px;
    font-size: 26px;          /* make the ⚙ bigger */
    display: flex;            /* center perfectly */
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-weight: bold;
    border:1px solid rgba(255, 255, 255, 0.35);

}

.spin-corner-icons:hover{
    border:1px solid rgba(255, 255, 255, 0.51);

}

.spin-corner-logo{
    width: 100px;
    height: 40px;
    display: none;
}

.spin-balance-container {
    display: flex;
    gap: 10px;
    align-items: center;
    border-radius: 20px;
    padding: 10px;
    font-size: 1.3rem;
    border:1px solid rgba(255, 255, 255, 0.35);
    background: rgba(14, 10, 10, 0.72);
}

.spin-corner-balance{
    color:greenyellow;
}

.main-game-area{
    display: flex;
    flex-direction: column;
    background: rgba(14, 10, 10, 0.22);
    background: url("../assets/img/scene/Background2.webp") center;
    background-size: cover;
}

.Spin-main-controls {
    display: flex;
    flex-direction: column;
    margin-top: 5px;
    background: rgba(14, 10, 10, 0.86);
    border-radius: 10px;
    gap:2px;
    padding: 2px;

}

.Bet-amount-area-spin {
    display: flex;
    flex-direction: column;
    color: white;
}

.bet-Amount-text{
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.97);
    text-align: center;
    margin: 5px 0;
    display: flex;
    justify-content: space-around;
    font-size:18px;
    border-radius: 10px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.33);
}

.Bet-spin-area {
    display: flex;
    flex-direction: row;
}

.spin-short-bet {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    gap: 8px;
    margin-bottom: 10px;
}

.bet-short-spin {
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.chip-image {
    flex:1;
    width: 24px;
    object-fit: contain;
}

.chip-text {
    position: absolute;
    color: #0e0a0a;
    font-weight: bold;
    font-size: 16px;
}

.spin-input-area {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: rgba(240, 248, 255, 0.2);
}

.plus-minus-spin {
    background: #18031f;
    padding: 10px;
    flex: 1;
    text-align: center;
    border-radius: 5px;
    font-weight: bold;
}

.spin-bet-input {
    background: rgba(240, 248, 255, 0);
    border: none;
    outline: none;
    text-align: center;
    color:white;
    font-size:16px;

}

.controls-container {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    /*background: #021f26;*/
}

.controls-row {
    display: flex;
    flex-direction: row;
    /*justify-content: space-between;*/
    width: 100%;
    gap: 3px;
    margin-bottom: 10px;

}

.High-low-btn, .px-4 {
    flex: 1;
    /*padding: 10px 0;*/
    /*border-radius: 5px;*/
    text-align: center;
    color: white;
    font-weight: bold;
    /*font-size: 18px;*/
    background: #2d3748;

    background: linear-gradient(
            to bottom,
            #2d3748 0%,
            rgb(7, 9, 7) 25%,
            #2d3748 100%
    );
    transition: background-position 0.5s;
    /*border:1px solid rgba(255, 255, 255, 0.23);*/
    border-radius: 20px;
    padding: 10px 3px;
    font-size: 1.3rem;
    border:1px solid rgba(255, 255, 255, 0.35);
}

.active {
    background: linear-gradient(
            to bottom,
            rgba(255, 215, 0, 0.49) 0%,
            rgb(7, 9, 7) 25%,
            rgba(255, 215, 0, 0.39) 100%
    );
    border:1px solid #FFD700;
    color: #FFD700;
}

.High-low-btn:hover {
    border:1px solid #917b06;
    color: #887304;
}

/*.Odd {*/
/*    background-position: top center;*/
/*}*/
/*.btn-base{*/
/*    font-weight: bold;*/
/*    font-size: 18px;*/
/*}*/

/*.Even {*/
/*    flex: 1;*/
/*    padding: 10px 0;*/
/*    border-radius: 5px;*/
/*    text-align: center;*/
/*    color: black;*/


/*    background: linear-gradient(*/
/*            to bottom,*/
/*            rgb(196, 80, 3) 0%,*/
/*            rgb(241, 184, 57) 25%,*/
/*            rgb(178, 72, 2) 100%*/
/*    );*/
/*    background-size: auto 200%;*/
/*    transition: background-position 0.5s;*/
/*}*/

/*.Even {*/
/*    background-position: top center;*/
/*}*/

/*.Odd:hover, .Even:hover {*/
/*    background-position: bottom center; !* animate downward *!*/
/*}*/
.spin-btn-container{
    display: flex;
    align-items: center;
    justify-content: center;
    /*padding: 2px;*/
}
.control-spin-btn {
    flex: 1;
    padding: 10px;
    color: white;
    cursor: pointer;
    text-align: center;
    border-radius: 20px;

    /*border-radius: 5px;*/
    font-weight: bold;
    font-size: 20px;
    transition: 0.5s;
    background-size: 200% auto;
    background-image: linear-gradient(
            to left,
           #0070e7 0%,
            rgb(2, 7, 37) 51%,
           #0070e7 100%
    );
}

.control-spin-btn:hover {
    background-position: right center;
}

.popup {
    position: fixed;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    color: white;
    padding: 20px 40px;
    border-radius: 16px;
    text-align: center;
    font-size: 1.5rem;
    opacity: 0;
    pointer-events: none;
    animation: popupFade 0.6s ease-in-out forwards;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:10px;
    width: 100%;
    max-width: 250px;
    background: linear-gradient(to top, #021f26 20%, rgb(0, 0, 0) 75%);
}

.pop-container{
    display: flex;
    flex-direction: column;
    width: 100%;
    gap:10px;
}

.three-d-text-lost{
    width:100%;
    background: linear-gradient(180deg, #fd0000, #5b0404);

}
.three-d-text-win{
    width:100%;
    background: linear-gradient(180deg, #00c6ff, #08617a);
}
.amount-won {
    font-weight: bold;
    animation: glowBreath 2s infinite ease-in-out;
}

/* fade in & out */
@keyframes popupFade {
    0% {
        transform: translate(-50%, 40%);
        opacity: 0;
    }
    50% {
        transform: translate(-50%, 0);
        opacity: 1;
    }
    100% {
        transform: translate(-50%, 20%);
        opacity: 1;
    }
}


@keyframes glowBreath {
    0%, 100% {
        text-shadow: 0 0 5px #fff, 0 0 10px #057494, 0 0 20px #00c6ff;
        color: #fff;
    }
    50% {
        text-shadow: 0 0 20px #057798, 0 0 40px #00c6ff, 0 0 60px #00c6ff;
        color: #00ff67;
    }
}

canvas {
    width: 100%;
    max-width: 750px;
}

@media (min-width:600px){

    .chip-image {
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    .chip-text {
        position: absolute;
        color: #0e0a0a;
        font-weight: bold;
        font-size: 24px;
        text-shadow: 0 0 4px #382b0e;
    }
    .popup{
        max-width: 400px;
    }
}